<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>OfficiallyLost</title>
   <link rel="shortcut icon" type="image/x-icon" href="https://cdn.discordapp.com/avatars/475371795185139712/ffe04965493637d0f759607db89e52ee.png"/>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">
   <meta property="og:title" content="OfficiallyLost"/>
   <meta property="og:type" content="article"/>
   <meta property="og:url" content="https://officially-lost.me"/>
   <meta property="og:image" content="https://cdn.discordapp.com/avatars/475371795185139712/ffe04965493637d0f759607db89e52ee.png"/>
   <meta property="og:description" content="Just my personal website with some cool features like an online chat :)"/>
</head>
</html>
<style>
   :root {
      background-color: rgb(128, 255, 255);
   }
</style>