<body>
   <div class="joke">
      <p><%= joke %></p>
   </div>
</body>
<style>
   .joke {
      font-family: fantasy;
      text-align: center;
      margin-right: 8%;
      margin-top: 15%; 
      background-color: aqua;
      padding-right: 50px;
   }
</style>