<%- include('../parts/body') -%>
<body>
   <div class="container">
      <div class="notification">
         <h2 class="joke"><%= joke %></h2>
      </div>
      <div class="lost-cat">
         <img src="https://i.pinimg.com/originals/07/e1/dd/07e1dd4d1a982f9fcd016785cc7a496c.jpg">
      </div>
   </div>
   <div class="navbar is-dark bottom">
      <a href="/">
         <div class="navbar-item">
            Take me Home
         </div>
      </a>
   </div>
</body>
<style>
   .joke {
      font-family: fantasy;
      text-align: center;
      font-size: 50px;
   }
   .container {
      text-align: center;
   }
   .lost-cat {
      display: inline-block;
   }
   .navbar-item {
      width: 200px;
      margin-bottom: 40px;
      height: 178px;
      margin-left: 400%;
      margin-top: 45px;
      border-radius: 10px;
      font-family: fantasy;
      background-color: rgb(199, 243, 202);
   }
   .navbar-item:hover {
      width: 200px;
      height: 178px;
      margin-left: 400%;
      margin-top: 43px;
      border-radius: 10px;
      font-family: fantasy;
      background-color: rgb(215, 216, 215);
   }
</style>
<%- include('../parts/body') -%>
