<%- include('../parts/body') %>

<body>
   <div class="container">
   <form action="/create" method="POST">
      <h1><%- message %></h1>
      <div class="form">
         <label for="username-inp">Username</label>
         <input type="text" name="username" placeholder="Enter the username you'd like to be identified as" class="username input" id="username-inp">
      </div>
      <div>
         <label for="password-inp">Password</label>
         <input type="password" name="password" placeholder="Enter your desired password." class="password input" id="password-inp">
      </div>
      <div>
         <label for="password-inp-v">Password</label>
         <input type="password" name="passwordVer" placeholder="Enter the same password" class="password input" id="password-inp-v">
      </div>
            <button type="submit" class="button is-success">Create my account!</button>
      <p>Already have an account?<a href="/login">Click here</a></p>
   </form>
</div>
</body>
</html>

<style>
   input {
      padding-left: 10px;
   }
   button {
      margin-top: 13px;
      margin-bottom: 10px;
   }
   .container {
   background-color: rgba(255, 255, 255, 0.733);
   margin-top: 10%;
   text-align: center;
   }
   h1 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 100;
      font-size: larger;
      display: inline-block;
   }
</style>