<div class="container">
   <h1>Create your account</h1>
   <form action="/create" method="POST">
      <div class="form">
         <label for="username-inp">Username</label>
         <input type="text" name="username" class="username input" id="username-inp">
      </div>
      <div class="form">
         <label for="password-inp">Username</label>
         <input type="password" name="password" class="password input" id="password-inp">
      </div>
         <%- message -%>
      <button type="submit" class="button is-success">Create my account!</button>
      <p>Already have an account? <a href="/login">Click here</a></p>
   </form>
</div>
<a href="thank-u"></a>