<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>OfficiallyLost</title>
   <link rel="shortcut icon" type="image/x-icon" href="https://cdn.discordapp.com/avatars/475371795185139712/c4fda398ffa314b544a82aab449b41d3.png"/>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">
</head>
<body>
   <h1>Welcome back, <%- user.username %></h1>
   <div class="tabs is-boxed is-centered">
      <ul class="tab">
        <li>
          <a href="/<%- user.id %>/chat ">
            <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
            <span>Online Chat</span>
          </a>
        </li>
        <li>
          <a href="/url">
            <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
            <span>URL Shortener</span>
          </a>
        </li>
        <li>
      </li>
      </ul>
    </div>
</body>
</html>

<style>
   .tabs {
      background-color: rgba(201, 195, 195, 0.123);
   }
   h1 {
      font-size: large;
      font-weight: 600;
      background-color: rgb(201, 196, 196);
   }
</style>