<head>
   <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
   <p><%- joke -%></p>
   <img src="https://cdn.discordapp.com/avatars/475371795185139712/680b8c110289cadc1fe910d95701c6e3.png">
</body>