<div class="container">
   <h1>Login your account.</h1>
   <form action="/login" method="POST" method="GET">
      <div class="form">
         <label for="username-inp">Username</label>
         <input type="text" name="username" class="username input" id="username-inp">
      </div>
      <div class="form">
         <label for="password-inp">assword</label>
         <input type="password" name="password" class="password input" id="password-inp">
      </div>
         <%- message -%>
            <button type="submit" class="button is-success">Login</button>
      <p>Dont have an account? <a href="/create">Click here</a></p>
   </form>
</div>