<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>OfficiallyLost</title>
   <link rel="shortcut icon" type="image/x-icon" href="https://cdn.discordapp.com/avatars/475371795185139712/c4fda398ffa314b544a82aab449b41d3.png"/>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">
</head>

<body>
   <div class="container">
   <form action="/login" method="POST">
      <h1><%- message %></h1>
      <div class="form">
         <label for="username-inp">Username</label>
         <input type="text" name="username" class="username input" id="username-inp">
      </div>
      <div>
         <label for="password-inp">Assword</label>
         <input type="password" name="password"class="password input" id="password-inp">
      </div>
            <button type="submit" class="button is-success">Login</button>
      <p>Dont have an account? <a href="/create">Click here</a></p>
   </form>
</div>
</body>
</html>

<style>
   input {
      padding-left: 10px;
   }
   button {
      margin-top: 10px;
   }
   .column {
      background-color: black;
   }
   .container {
   background-color: rgba(255, 255, 255, 0.733);
   margin-top: 10%;
   text-align: center;
   }
   h1 {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 100;
      font-size: larger;
      display: inline-block;
   }
   :root {
      background-color: rgb(128, 255, 255);
   }
</style>