<%- include('../parts/body') -%>

<table class="table">
   <div>
      <form action="/url" method="POST">
         <input required name="full" id="full" placeholder="Enter Full URL Here" type="url" class="input is-large is-success">
         <button class="button is-dark" type="submit">Generate URL</button>
      </form>
   </div>
</table>